@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

:root {
    --side-panel-bg: #eff4f5;
    --side-panel-border: #cfd4d5;
    --side-panel-selected: #dfe4e5;

    /* Maybe change this one later */
    --side-panel-hover: #e5ecee;
}

body {
    font-family: "Source Sans 3", sans-serif;

    margin-top: 0px;
    margin-left: 0px;
}

.katex {
    font-size: 1.1em !important;
}

/* Mobile-like viewports */
@media screen and (max-width: 1200px) {
    .content {
        width: 85vw;
        margin: auto;

        padding-bottom: 300px;
    }
}

/* Desktop-like viewports */
@media screen and (min-width: 1200px) {
    .content {
        width: 600px;
        margin: auto;

        padding-bottom: 200px;
    }

    .content-wrapper {
        margin-left: 400px;
        width: calc(100% - 400px);
    }
}

.content {
    font-size: 14pt;
}

.content h1 {
    margin-bottom: 0px;
}

.content .separator {
    margin-top: 0px;
}

/* Maybe change colors later? */
.info-value {
    margin-right: 10px;
}

.info-value a {
    text-decoration: none;
    color: black;
}

/* Maybe give these a background and cool stuff later a la MSE tags */
.info-tag {
    font-size: 12pt;
    white-space: nowrap;

    background-color: #c7edf4;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.side-box {
    border-left: solid 5px black;
}

.side-box p {
    margin-left: 12px;
}

.black-box {
    border: solid 2px black;
}

.black-box p {
    width: 95%;
    margin-left: 12px;
}

.solution {
    
}

.solution summary {
    font-weight: bold;

    background-color: var(--side-panel-bg);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    
    border-radius: 10px;
}

.solution .solution-contents {
    margin-left: 5px;
    border-left: black 2px solid;
}

.solution[open] .solution-contents {
    animation: appear 0.5s ease-in-out;
}

@keyframes appear {
    0%   { opacity: 0; max-height: 0vh }
    100% { opacity  1; max-height: 100vh }
}

.solution p, .solution li {
    margin-left: 10px;
    width: 95%;
}

.solution {
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnail {
    /* border: solid 2px var(--side-panel-border); */
    background: var(--side-panel-bg);
    border-radius: 10px;

    transition: background 0.2s;
}

.thumbnail h3 {
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.thumbnail .info-line {
    color: var(--side-panel-hover);
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.thumbnail p {
    margin-top: 0px;
    padding-bottom: 20px;

    font-size: 12pt;
}

.content a {
    color: #3e5f93;
}

.content canvas {
    width: 100%;

    margin-top: 15px;
}

.thumbnail > * {
    padding-left: 20px;
    width: calc(100% - 40px);
}

.thumbnail:hover {
    background: var(--side-panel-hover);
}

img {
    width: 100%;
}

ol > li::marker {
    font-weight: bold;
}

.content li {
    margin-bottom: 10px;
}
